* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #242424;
  color: rgba(255, 255, 255, 0.87);
}

/* IMPORTANT */
#root {
  width: 100%;
}

html {
  scroll-behavior: smooth;
}

